node_modules
.dendron.*
build
seeds
.next
pods/service-connections
dependencies/localhost/Mystic_Arcana
/Users/kfitz/Library/Application Support/Code/User/globalStorage/saoudrizwan.claude-dev/settings/cline_mcp_settings.json
.env
.env.local
